<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :edi_source %>
    <%= form.text_field :edi_source %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.number_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :po_number %>
    <%= form.text_field :po_number %>
  </div>

  <div class="field">
    <%= form.label :issued_at %>
    <%= form.datetime_select :issued_at %>
  </div>

  <div class="field">
    <%= form.label :total_cost_in_dollars %>
    <%= form.text_field :total_cost_in_dollars %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
